In [25]:
import pandas as pd
import math

In [4]:
path = '../result/'

In [89]:
answ = pd.read_csv(path + 'BF_const2.csv')

In [90]:
result_files = ['SVD_TF_const21.csv', 'SVD_TF_const22.csv', 'SVD_TF_const23.csv']
results = []
for name in result_files:
    results.append(pd.read_csv(path + name))

In [91]:
answ.head()

,user,exclude,item list,len,without constraint
0,0,840.0,"[4005, 4270, 2549, 2280, 2274, 105, 276, 935, ...",10,"['4005', '1894', '4270', '2549', '2280', '2274..."
1,0,2499.0,"[4005, 1894, 4270, 2549, 2280, 2274, 105, 935,...",10,"['4005', '1894', '4270', '2549', '2280', '2274..."
2,0,5010.0,"[4270, 2549, 2280, 2274, 105, 276, 725, 10, 21...",10,"['4005', '1894', '4270', '2549', '2280', '2274..."
3,1,2499.0,"[4783, 740, 2658, 3224, 2639, 4642, 3409, 2773...",10,"['4783', '740', '2658', '3224', '2639', '98', ..."
4,1,5010.0,"[4783, 740, 2658, 3224, 98, 4642, 3409, 2773, ...",10,"['4783', '740', '2658', '3224', '2639', '98', ..."

In [92]:
result = pd.concat([results[0], results[1], results[2]], 0)
result.sort_values('user', inplace = True)
result.head()

C:\Users\seha\AppData\Local\Temp/ipykernel_50276/1521515063.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  result = pd.concat([results[0], results[1], results[2]], 0)

   user  exclude                                          item list
0     0    840.0  [1911, 3098, 2274, 940, 3192, 976, 193, 4791, ...
0     0   2499.0  [4323, 2996, 989, 3078, 3335, 4106, 4918, 2300...
0     0   5010.0  [532, 2342, 112, 125, 2170, 4738, 856, 80, 307...
1     1   2499.0  [437, 125, 2342, 2639, 361, 4396, 50, 112, 108...
1     1   5010.0  [4814, 3048, 4738, 4270, 4642, 1561, 361, 2970...

### NDCG calculate function

In [83]:
# calculate NDCG
def nDCG(answ, result):
    # initialize
    DCG = 0
    IDCG = 0
    
    rel_1 = 0
    rel_2 = 0
    rel_3 = 0
    
    for item in result:
        if item in answ:
            answ_idx = answ.index(item)
            res_idx = result.index(item)
            if answ_idx == 0:
                rel = 3
                rel_3 = rel_3 + 1
            elif answ_idx < 3:
                rel = 2
                rel_2 = rel_2 + 1
            else:
                rel = 1
                rel_1 = rel_1 + 1
                
            DCG = DCG + (rel / math.log(res_idx + 2, 2))
            
        else: # not relevant
            rel = 0
    
    # calculate IDCG
    '''
    for i in range (0, rel_3):
        IDCG = IDCG + (3 / math.log(i + 2, 2))
        # print(3 / math.log(i + 2, 2))
    for i in range (rel_3, rel_3 + rel_2):
        IDCG = IDCG + (2 / math.log(i + 2, 2))
        # print(2 / math.log(i + 2, 2))
    for i in range (rel_2 + rel_3, rel_3 + rel_2 + rel_1):
        IDCG = IDCG + (1 / math.log(i + 2, 2))
        # print(1 / math.log(i + 2, 2)) '''
    
    IDCG = 3/math.log(2, 2) + 2/math.log(3, 2) + 2/math.log(4, 2) + 1/math.log(5, 2) + 1/math.log(6, 2)
    if len(result)==10: 
        IDCG = IDCG + 1/math.log(7, 2) + 1/math.log(8, 2) + 1/math.log(9, 2) + 1/math.log(10, 2) + 1/math.log(11, 2)
    
    # print("DCG: ", DCG, ", IDCG: ", IDCG)
    if IDCG == 0:
        return 0
    else:
        return DCG / IDCG

### Test

In [87]:
print(nDCG([1, 2, 3, 4, 5], [1, 2, 3, 4, 5]))
print(nDCG([1, 2, 3, 4, 5], [5, 4, 3, 2, 1]))

1.0
0.7653468776288559

In [86]:
print(nDCG([1, 2, 3, 4, 5], [3, 2, 1]))

0.7832793076819933

In [88]:
print(nDCG([1, 2, 3, 4, 5], []))
print(nDCG([1, 2, 3, 4, 5], [3, 2, 1]))

0.0
0.7832793076819933

In [84]:
print(nDCG([1, 2, 3, 4, 5], [1, 2, 3, 6, 6]))
print(nDCG([1, 2, 3, 4, 5], [6, 6, 1, 2, 3]))

0.8655244166049942
0.5156864935590145

###  Constraint 2 Test

In [96]:
answ.head()

,user,exclude,item list,len,without constraint
0,0,840.0,"[4005, 4270, 2549, 2280, 2274, 105, 276, 935, ...",10,"['4005', '1894', '4270', '2549', '2280', '2274..."
1,0,2499.0,"[4005, 1894, 4270, 2549, 2280, 2274, 105, 935,...",10,"['4005', '1894', '4270', '2549', '2280', '2274..."
2,0,5010.0,"[4270, 2549, 2280, 2274, 105, 276, 725, 10, 21...",10,"['4005', '1894', '4270', '2549', '2280', '2274..."
3,1,2499.0,"[4783, 740, 2658, 3224, 2639, 4642, 3409, 2773...",10,"['4783', '740', '2658', '3224', '2639', '98', ..."
4,1,5010.0,"[4783, 740, 2658, 3224, 98, 4642, 3409, 2773, ...",10,"['4783', '740', '2658', '3224', '2639', '98', ..."

In [97]:
result.head()

   user  exclude                                          item list
0     0    840.0  [1911, 3098, 2274, 940, 3192, 976, 193, 4791, ...
0     0   2499.0  [4323, 2996, 989, 3078, 3335, 4106, 4918, 2300...
0     0   5010.0  [532, 2342, 112, 125, 2170, 4738, 856, 80, 307...
1     1   2499.0  [437, 125, 2342, 2639, 361, 4396, 50, 112, 108...
1     1   5010.0  [4814, 3048, 4738, 4270, 4642, 1561, 361, 2970...

In [ ]:
for i in range (0, len(answ)):
    u = answ.loc[i].user
    const = answ.loc[i].user
    answ_list = answ.loc[i].item