In [1]:
import pandas as pd
import sys

In [2]:
# setting path
sys.path.append('../code')

In [3]:
import attr_model
import load_data as ld
import SVD_TF

In [4]:
# constant
file_name = "const33"
result_path = "../result/"
user_max = 1000

In [5]:
rec = attr_model.AttrRec(SVD_TF.SVD_TF(), const_path='../data/' + file_name + "_data.csv")

In [6]:
rec.get_data()

In [7]:
rec.train()

In [8]:
rec.test()

In [9]:
rec.get_candidate()

## Constraint 1

In [ ]:
data = {
    'user': [],
    'include': [],
    'item list': []
}

for u in range (0, user_max):
    data['user'].append(u)
    data['include'].append(rec.const.loc[u].i1)
    data['item list'].append(rec.top_n_const_1(str(u), rec.const.loc[u].i1))

In [ ]:
df = pd.DataFrame({
    'user': data['user'],
    'include': data['include'],
    'item list': data['item list']
})

## constraint 2

In [10]:
data = {
    'user': [],
    'exclude': [],
    'item list': []
}

for i in range (0, len(rec.const)):
    user = rec.const.loc[i].u
    item = int(rec.const.loc[i].i2)
    
    data['user'].append(user)
    data['exclude'].append(item)
    data['item list'].append(rec.top_n_const_2(str(user), item))

In [11]:
df = pd.DataFrame({
    'user': data['user'],
    'exclude': data['exclude'],
    'item list': data['item list']
})

## Constraint 3

In [10]:
data = {
    'user': [],
    'history': [],
    'target': [],
    'item list': []
}

for i in range (0, len(rec.const)):
    user = rec.const.loc[i].u
    his = int(rec.const.loc[i].hl)
    nl = rec.const.loc[i].nl
    
    data['user'].append(user)
    data['history'].append(his)
    data['target'].append(nl)
    data['item list'].append(rec.top_n_const_3(str(user), his, nl))

In [11]:
df = pd.DataFrame({
    'user': data['user'],
    'hist': data['history'],
    'target': data['target'],
    'item list': data['item list']
})

## Save Dataframe

In [12]:
df.to_csv(result_path + 'SVD_TF_' + file_name + ".csv", index = False)

In [13]:
pd.read_csv(result_path + 'SVD_TF_' + file_name + ".csv")

,user,hist,target,item list
0,0,4064,"[159.39, 3.0, 135.0, 0.0, 0.0, 7.0, 11.0]","[4106, 4446, 1, 3823, 4783, 740, 1906, 4091, 4..."
1,1,193,"[1284.228, 123.75, 4.95, 48.51, 136.62, 168.3,...","[1118, 1, 3823, 4783, 740, 1906, 4091, 4177, 3..."
2,2,1023,"[412.0, 22.0, 4.95, 19.8, 35.64, 29.0, 16.83]","[105, 1118, 0, 4446, 3823, 4783, 740, 1906, 40..."
3,3,1089,"[778.4, 46.0, 83.16, 53.46, 158.4, 45.54, 12.87]","[1118, 0, 4446, 1, 773, 4468, 976, 3050, 4026,..."
4,4,1418,"[1642.6, 83.0, 58.41, 40.0, 212.85, 64.0, 46.0]","[1821, 1118, 0, 4446, 1, 3823, 4783, 740, 1906..."
...,...,...,...,...
951,995,465,"[191.961, 17.82, 46.0, 76.0, 5.0, 36.63, 6.0]","[397, 1118, 0, 4446, 1, 3823, 4783, 740, 1906,..."
952,996,1646,"[729.2, 36.0, 198.0, 13.0, 28.71, 46.0, 37.62]","[1118, 0, 4446, 1, 3823, 4783, 740, 1906, 4091..."
953,997,2355,"[1022.0760000000001, 65.0, 274.0, 176.22, 142....","[1665, 1118, 0, 4446, 1, 3823, 4783, 740, 1906..."
954,998,647,"[3750.12, 509.85, 341.0, 97.0, 186.12, 177.0, ...","[1118, 0, 4446, 1, 3823, 4783, 740, 1906, 4091..."
955,999,2274,"[634.59, 26.73, 170.28, 78.21, 44.0, 20.0, 23....","[1118, 0, 4446, 1, 3823, 4783, 740, 1906, 4091..."